.question {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  border: 2px rgba($babyPowder, 0.9) solid;
  border-radius: 10px;
  background: $charcoal;
  gap: 1.5em;
  padding-block: 2em;
  padding-inline: 3em;

  .title {
    cursor: default;
    margin-block: 0;
    @include fontType(1.8em);
  }
}

.correctQuestion {
  border-color: $zomp;
}

.wrongQuestion {
  border-color: $oldRose;
}

.answer {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  .answerTitle {
    margin-left: 1em;
    margin-block: 0;
    @include fontType(1.3em);
  }
}
