div.testFromButtons {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;

  button.formButton {
    width: 45%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 2px $babyPowder solid;
    background: $charcoal;
    padding-block: 0.3em;
    @include fontType(1.4em, $babyPowder);
  }

  button.saveButton {
    @include colorButton($zomp);
  }

  button.deleteButton {
    @include colorButton($oldRose);
  }

  button.goBackButton {
    @include colorButton($skyBlue);
  }
}
