div.testFromButtons {
  width: 100%;
  display: grid;
  place-items: center;

  button.formButton {
    width: 60%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 2px $babyPowder solid;
    background: $charcoal;
    color: $babyPowder;
    font-size: 1.4em;
    padding-block: .3em;

    @media screen and (width < 850px){
      width: 100%;
    }
  }

  button.saveButton {
    @include colorButton($zomp);
  }

  button.deleteButton {
    @include colorButton($oldRose);
  }

}