div.test {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border: 2px $babyPowder solid;
  border-radius: 5px;
  background: $charcoal;
  padding-block: .7em;

  p.testTitle {
    font-size: 1.5em;
    overflow: hidden;
    width: 80%;
    margin: 0;
  }
}

div.buttonsContainer {
  display: inline-flex;
  gap: .5em;

  button.testButton {
    box-sizing: border-box;
    width: 2.3em;
    cursor: pointer;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    background: none;
    aspect-ratio: 1/1;
  }

  button.passTestButton {
    transition: background-image .2s;
    background-image: url("~public/images/svg/selectArrow.svg");
    background-position-x: center;
    background-position-y: 40%;
    background-size: 140%;
    @include colorButton($skyBlue);

    &:hover {
      background-image: url("~public/images/svg/selectArrowActive.svg");
    }
  }

  button.editTestButton {
    transition: background-image .2s;
    background-image: url("~public/images/svg/editPencil.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    @include colorButton($ecru);

    &:hover {
      background-image: url("~public/images/svg/editPencilActive.svg");
    }
  }

  button.deleteTestButton {
    @include cross(1.4em, 3px);
    @include colorButton($oldRose);
  }
}