div.test {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1em;
  border: 2px $babyPowder solid;
  border-radius: 5px;
  background: $charcoal;

  p.testTitle {
    width: 80%;
    overflow: hidden;
    margin: 0;
    font-size: 1.4em;
  }
}

div.buttonsContainer {
  display: inline-flex;
  gap: .5em;

  button.testButton {
    cursor: pointer;
    width: 2.7em;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    background: none;
    border: 2px $babyPowder solid;
    border-radius: 5px;
  }

  button.passTestButton {
    background-image: url("~public/images/svg/selectArrow.svg");
    background-size: 140%;
    background-position-x: center;
    background-position-y: 40%;
    transition: background-image .2s;
    @include colorButton($skyBlue);

    &:hover {
      background-image: url("~public/images/svg/selectArrowActive.svg");
    }
  }

  button.editTestButton {
    background-image: url("~public/images/svg/editPencil.svg");
    background-position: center;
    background-size: 90%;
    transition: background-image .2s;
    @include colorButton($ecru);

    &:hover {
      background-image: url("~public/images/svg/editPencilActive.svg");
    }
  }

  button.deleteTestButton {
    @include cross(1.4em, 3px);
    @include colorButton($oldRose);
  }
}