div.test {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-block: 0.6em;
  padding-inline: 1em;
  border: 2px $babyPowder solid;
  border-radius: 5px;
  background: $charcoal;

  p.testTitle {
    cursor: pointer;
    font-size: 1.5em;
    overflow: hidden;
    width: 80%;
    margin: 0;
  }
}

div.buttonsContainer {
  display: inline-flex;
  gap: 0.9em;

  button.testButton {
    box-sizing: border-box;
    width: 2.5em;
    cursor: pointer;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    background: none;
    aspect-ratio: 1/1;
  }

  button.editTestButton {
    transition: background-image 0.2s;
    background-image: url('~public/images/svg/editPencil.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    @include colorButton($ecru);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-image: url('~public/images/svg/editPencilActive.svg');
      }
    }
  }

  button.deleteTestButton {
    @include cross(1.4em, 3px);
    @include colorButton($oldRose);
  }
}
