.answer {
  position: relative;
  display: inline-flex;
  width: 98%;
  box-sizing: border-box;
  justify-content: space-between;
  border: 2px $babyPowder solid;
  border-radius: 5px;
  padding-block: 0.5em;
  padding-inline: 1em;

  .answerLabel {
    position: relative;
    display: inline-flex;
  }

  .answerTitleInput {
    padding: 0;
    border: none;
    border-bottom: 1px $babyPowder solid;
    background: transparent;
    outline: none;
    @include fontType(1.2em, $babyPowder);
  }

  .answerTitle {
    margin: 0;
    margin-left: 0.5em;
    cursor: pointer;
    @include fontType(1.2em, $babyPowder);
  }

  .answerDeleteButton {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    padding-block: 0.1em;
    padding-inline: 0.6em;
    transition: background-color 0.2s;
    @include cross(1.3em, 2px);
  }
}
