.inputContainer {
  position: relative;
  width: 80%;
  align-self: center;

  .inputLabel {
    position: absolute;
    top: -0.5em;
    left: 1em;
    background-color: $charcoal;
    opacity: 0;
    padding-inline: 0.5em;

    @include fontType(1vw, $babyPowder);

    @include mediumDesktop {
      @include fontType(2.2vh);
    }
  }

  .errorTitle {
    color: $oldRose !important;
  }

  input.input {
    width: 100%;
    height: 2.7em;
    transition: border 0.1s;

    @include formInput(1.3vw);

    &::placeholder {
      @include fontType(null, rgba($babyPowder, 0.5));
    }

    &:focus {
      border-color: $zomp;

      &::placeholder {
        opacity: 0;
      }
    }

    &:focus + .inputLabel {
      opacity: 1;

      @include fontType(null, $zomp);
    }

    &:not(:placeholder-shown) + .inputLabel {
      opacity: 1;
    }

    @include mediumDesktop {
      height: 3em;

      @include fontType(3vh);
    }
  }

  input.passwordError {
    border-color: $oldRose !important;
  }

  button.showPassword {
    background-image: url('~public/images/svg/visiblePassword.svg');
  }

  button.hidePassword {
    background-image: url('~public/images/svg/hiddenPassword.svg');
  }

  button.passwordEye {
    position: absolute;
    top: 50%;
    right: 1.5em;
    width: 1.7em;
    padding: 0;
    border: none;
    aspect-ratio: 1/1;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: background-image 0.2s;

    @include mediumDesktop {
      width: 3vh;
    }
  }

  @include mediumDesktop {
    width: 90%;

    @include fontType(2.2vh);
  }
}
