.entryInputContainer {
  width: 80%;

  @include mediumDesktop {
    width: 90%;
  }

  .matchErrorTitle {
    margin-top: 0.4em;
    margin-bottom: 0;
    margin-left: 1.5em;
    transition: 0.2s;
    @include fontType(1em, $oldRose);
  }
}

.inputContainer {
  position: relative;
  width: 100%;
  align-self: center;

  @include mediumDesktop {
    @include fontType(1.1em);
  }

  .inputLabel {
    position: absolute;
    top: -0.5em;
    left: 1em;
    background-color: $charcoal;
    opacity: 0;
    padding-inline: 0.5em;
    @include fontType(1.2em, $babyPowder);

    @include mediumDesktop {
      @include fontType(1.1em);
    }
  }

  .errorTitle {
    color: $oldRose !important;
  }

  .input {
    width: 100%;
    height: 2.5em;
    transition: border 0.1s;
    @include formInput(null);
    @include fontType(1.4em, $babyPowder);

    @include mediumDesktop {
      height: 3em;
      @include fontType(1.2em, $babyPowder);
    }

    &::placeholder {
      @include fontType(null, rgba($babyPowder, 0.5));
    }

    &:focus {
      border-color: $zomp;

      &::placeholder {
        opacity: 0;
      }
    }

    &:focus + .inputLabel {
      opacity: 1;
      @include fontType(null, $zomp);
    }

    &:not(:placeholder-shown) + .inputLabel {
      opacity: 1;
    }
  }

  .passwordError {
    border-color: $oldRose !important;
  }

  .showPassword {
    background-image: url('~public/images/svg/visiblePassword.svg');
  }

  .hidePassword {
    background-image: url('~public/images/svg/hiddenPassword.svg');
  }

  .passwordEye {
    position: absolute;
    top: 50%;
    right: 1.5em;
    width: 1.7em;
    padding: 0;
    border: none;
    aspect-ratio: 1/1;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: background-image 0.2s;
  }
}
