div.content {
  height: 35%;
  overflow: hidden;
  margin-block: 2em;
}

div.root {
  width: calc(100% - .5em);
  max-height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5em;
  padding-right: .5em;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.question {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  gap: .5em;
  padding-right: 1em;

  p.questionTitle {
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    box-sizing: border-box;
    border-radius: 5px;
    padding-inline: 1em;
    padding-block: .4em;
    background: $charcoal;
    border: 2px $babyPowder solid;
  }
}

div.questionButtons {
  display: flex;
  gap: .5em;

  button.questionButton {
    width: 3em;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    padding-inline: 1em;
    padding-block: .4em;
    background: $charcoal;
    border: 2px $babyPowder solid;
  }

  button.editButton {
    background-image: url("~public/images/svg/editPencil.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%, contain;
    transition: background-image .2s;

    &:hover {
      background-image: url("~public/images/svg/editPencilActive.svg");
    }
  }

  button.deleteButton {
    @include cross(1.4em, 2px);
  }
}