div.formButtons {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;

  button.formButton {
    width: 40%;
    cursor: pointer;
    padding-block: 0.3em;
    background: transparent;
    color: $babyPowder;
    font-size: 1.4em;
    border-radius: 5px;
    border: 2px $babyPowder solid;

    @media screen and (width < 500px) {
      width: 100%;
    }
  }

  button.goToTestButton {
    width: 80%;
    @include colorButton($skyBlue);
  }

  button.confirmButton,
  button.saveButton {
    @include colorButton($zomp);
  }

  button.cancelButton {
    @include colorButton($oldRose);
  }

  @media screen and (width < 500px) {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}
