.content {
  overflow: hidden;
  margin-block: 2em;
}

.root {
  display: inline-flex;
  overflow: hidden scroll;
  width: calc(100% - 0.5em);
  max-height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 0.5em;
  gap: 1em;
}
