@mixin navButton {
  width: fit-content;
  border: 2px solid $babyPowder;
  border-radius: 5px;
  background-color: $charcoal;
  cursor: pointer;
  padding-block: 0.5em;
  padding-inline: 1em;
  text-align: center;
  transition:
    color 0.2s,
    border-color 0.2s;
  white-space: nowrap;
  @include fontType(1.4em, $babyPowder);
}

.nav {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  @include bigTablet {
    gap: 0.5em;
  }

  .navTitle {
    margin: 0 0 0.3em;
    @include fontType(2.5em);

    @include tablet {
      display: none;
    }
  }

  .filter {
    width: 100%;
    box-sizing: border-box;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    background: $charcoal;
    outline: none;
    padding-block: 0.5em;
    padding-inline: 1em;
    @include fontType(1.4em, $babyPowder);

    &::placeholder {
      @include fontType(null, rgba($babyPowder, 0.5));
    }
  }
}

.secondLine {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5em;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  .dateSort {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    @include navButton;

    @include hover {
      border-color: $skyBlue;
      @include fontType(null, $skyBlue);
    }

    @include hover {
      & > .arrow {
        background-image: url('~public/images/svg/selectArrowActive.svg');
      }
    }

    @include tablet {
      width: 100%;
    }
  }

  .sortButtonTitle {
    margin: 0;
  }

  .arrow {
    width: 1.4em;
    height: 100%;
    background-image: url('~public/images/svg/selectArrow.svg');
    background-position-x: center;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: 120%;
    transition: background-image 0.2s;
  }

  .reverseDate {
    rotate: 180deg;
  }

  .logout {
    @include navButton;

    @include hover {
      border-color: $oldRose;
      @include fontType(null, $oldRose);
    }

    @include tablet {
      width: 100%;
      padding-inline: 5%;
    }
  }
}
