body {
  overflow: hidden hidden;
  margin: 0;
  background-color: $gunMetal;
  font-family: Roboto, sans-serif;

  @include fontType(null, $babyPowder, 400);

  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    background: rgba($babyPowder, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $babyPowder;
  }
}

button,
input {
  font-family: Roboto, sans-serif;

  @include fontType(null, $gunMetal);
}

.dragStart {
  background: rgba($gunMetal, 0.6);
}
