.formContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  place-items: center;
}

.form {
  display: inline-flex;
  width: 50%;
  height: fit-content;
  min-height: 65vh;
  max-height: 90vh;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3vh;
  border: 1px $babyPowder solid;
  border-radius: 10px;
  background-color: $charcoal;
  gap: 2em;

  @include mediumDesktop {
    width: 90%;
    min-height: 75%;
    gap: 1.5em;
  }

  .title {
    margin-top: 0;
    margin-bottom: 3vh;
    text-align: center;
    @include fontType(2.2em, $babyPowder, 500);

    @include mediumDesktop {
      margin-bottom: 0.5em;
      @include fontType(null, null, 700);
    }
  }
}

.confirmPasswordContainer {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}

.bottomContent {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.submit {
  width: 50%;
  height: 2em;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $jungleGreen;
  cursor: pointer;
  outline: none;
  transition:
    border-color 0.2s,
    color 0.2s,
    scale 0.2s;
  @include fontType(1.4em, $babyPowder, 600);

  @include hover {
    border-color: $zomp;
    @include fontType(null, $mintCream);
  }

  &:active {
    scale: 0.97;
  }

  @include mediumDesktop {
    width: 90%;
    height: 2.5em;
    @include fontType(3vh);
  }
}

.registerContent {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.additionalContent {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

  .redirectLink {
    width: fit-content;
    padding: 0 0 1px;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition:
      border-bottom-color 0.2s,
      color 0.2s;
    @include fontType(1.2em, $babyPowder);

    @include hover {
      border-bottom-color: $babyPowder;
    }

    &:active {
      border-bottom-color: $jungleGreen;
      @include fontType(null, $jungleGreen);
    }

    @include mediumDesktop {
      margin-left: 5%;
      @include fontType(1.1em);
    }
  }
}

.isAdmin {
  display: inline-flex;
  width: 80%;
  align-items: center;
  cursor: pointer;
  gap: 1em;

  @include mediumDesktop {
    width: 90%;
  }

  .isAdminTitle {
    margin: 0;
    text-align: left;
    @include fontType(1.2em, $babyPowder);

    @include mediumDesktop {
      @include fontType(1.1em);
    }
  }
}
