.formContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  place-items: center;
}

form.form {
  display: inline-flex;
  width: 50%;
  height: fit-content;
  min-height: 65vh;
  max-height: 90vh;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  border: 1px $babyPowder solid;
  border-radius: 10px;
  background-color: $charcoal;
  gap: 2em;

  h1.title {
    margin-bottom: 3vh;
    text-align: center;

    @include fontType(3w, $babyPowder, 500);

    @include mediumDesktop {
      @include fontType(4.7vh, null, 700);
    }
  }

  @include mediumDesktop {
    width: 90%;
    padding: 1em;
  }
}

.confirmPasswordContainer {
  display: inline-flex;
  width: 100%;
  flex-direction: column;

  p.matchErrorTitle {
    margin-top: 0.4em;
    margin-bottom: 0;
    margin-left: 10%;
    transition: 0.2s;

    @include fontType(1vw, $oldRose);

    @include mediumDesktop {
      margin-left: 5%;

      @include fontType(2.2vh);
    }
  }
}

.bottomContent {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

button.submit {
  width: 50%;
  height: 2em;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $jungleGreen;
  cursor: pointer;
  outline: none;
  transition:
    border-color 0.2s,
    color 0.2s,
    scale 0.2s;

  @include fontType(1.5vw, $babyPowder, 600);

  @include hover {
    border-color: $zomp;

    @include fontType(null, $mintCream);
  }

  &:active {
    scale: 0.97;
  }

  @include mediumDesktop {
    width: 90%;
    height: 2.5em;

    @include fontType(3vh);
  }
}

.registerContent {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.additionalContent {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

  button.redirectLink {
    width: fit-content;
    padding: 0 0 1px;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition:
      border-bottom-color 0.2s,
      color 0.2s;

    @include fontType(1vw, $babyPowder);

    @include hover {
      border-bottom-color: $babyPowder;
    }

    &:active {
      border-bottom-color: $jungleGreen;

      @include fontType(null, $jungleGreen);
    }

    @include mediumDesktop {
      @include fontType(2.2vh);
    }
  }
}

label.isAdmin {
  display: inline-flex;
  width: 80%;
  align-items: center;
  cursor: pointer;
  gap: 1em;

  p.isAdminTitle {
    margin: 0;
    text-align: left;

    @include fontType(1vw, $babyPowder);

    @include mediumDesktop {
      @include fontType(2.2vh);
    }
  }

  .customCheckbox {
    position: relative;
    display: flex;
    width: 1.2em;
    height: 1.2em;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid $babyPowder;
    border-radius: 3px;

    &::before {
      position: absolute;
      width: 25%;
      height: 60%;
      border-right: 2px solid rgba($babyPowder, 1);
      border-bottom: 2px solid rgba($babyPowder, 1);
      margin-top: 5%;
      content: '';
      opacity: 0;
      rotate: 45deg;
      transition: opacity 0.2s;
    }

    @include mediumDesktop {
      width: 2.2vh;
      height: 2.2vh;
    }
  }

  input.checkbox {
    display: none;

    &:checked + .customCheckbox::before {
      opacity: 1;
    }
  }

  @include mediumDesktop {
    width: 90%;
  }
}
