div.question {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1.5em;
  padding-inline: 3em;
  padding-block: 2em;
  border: 2px rgba($babyPowder, 0.9) solid;
  border-radius: 10px;
  background: $charcoal;

  h2.title {
    cursor: default;
    font-size: 1.8em;
    margin-block: 0;
  }

  input.numberAnswer {
    outline: none;
    box-sizing: border-box;
    padding-inline: 1em;
    padding-block: 0.5em;
    font-size: 1.2em;
    color: $babyPowder;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    background: none;

    &::placeholder {
      color: rgba($babyPowder, 0.6);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

label.answer {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  input.checkbox,
  input.radioButton {
    opacity: 0;

    &:checked + div.customCheckbox::after,
    &:checked + div.customRadio::after {
      opacity: 1;
    }
  }

  div.customCheckbox {
    @include customCheckbox(1em);
  }

  div.customRadio {
    @include customRadio(1em);
  }

  p.answerTitle {
    margin-block: 0;
    margin-left: 1em;
    font-size: 1.3em;
  }
}
