form.root {
  height: 90vh;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  padding-inline: 10vw;
  padding-block: 5vh;

  h1.formTitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
    @include fontType(2.3em);

    @include narrow {
      display: none;
    }
  }

  @include standard {
    width: 90vw;
    padding-inline: 5vw;
  }

  @include narrow {
    grid-template-rows: 1fr 5fr 1fr;
  }
}
