div.formContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  flex-direction: column;
}

form.form {
  width: 50%;
  height: fit-content;
  min-height: 65vh;
  max-height: 90vh;
  padding: 2em;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap:2em;
  border-radius: 10px;
  background-color: $charcoal;
  border: 1px $babyPowder solid;

  h1.title {
    color: $babyPowder;
    margin-bottom: 3vh;
    font-size: 3vw;
    font-weight: 500;
    text-align: center;

    @media screen and (width <= 1024px) {
      font-size: 4.7vh;
      font-weight: 700;
    }
  }

  @media screen and (width <= 1024px) {
    width: 90%;
    padding: 1em;
  }
}

div.bottomContent {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

button.submit {
  width: 50%;
  padding: 0;
  height: 2em;
  outline: none;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: 600;
  color: $babyPowder;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: $jungleGreen;
  transition:
    border-color 0.2s,
    color 0.2s,
    scale 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $mintCream;
      border-color: $zomp;
    }
  }

  &:active {
    scale: 0.97;
  }

  @media screen and (width <= 1024px) {
    width: 90%;
    height: 2.5em;
    font-size: 3vh;
  }
}

div.registerContent {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

div.additionalContent {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

  button.redirectLink {
    width: fit-content;
    font-size: 1vw;
    cursor: pointer;
    padding: 0 0 1px;
    border: none;
    color: $babyPowder;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition:
      border-bottom-color 0.2s,
      color 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-bottom-color: $babyPowder;
      }
    }

    &:active {
      color: $jungleGreen;
      border-bottom-color: $jungleGreen;
    }

    @media screen and (width <= 1024px) {
      font-size: 2.2vh;
    }
  }
}

label.isAdmin {
  width: 80%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 1em;

  p.isAdminTitle {
    margin: 0;
    font-size: 1vw;
    color: $babyPowder;
    text-align: left;

    @media screen and (width <= 1024px) {
      font-size: 2.2vh;
    }
  }

  div.customCheckbox {
    position: relative;
    display: grid;
    place-items: center;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    border: 1px solid $babyPowder;

    &::before {
      position: absolute;
      content: '';
      opacity: 0;
      width: 25%;
      height: 60%;
      margin-bottom: 10%;
      rotate: 45deg;
      border-bottom: 2px solid rgba($babyPowder, 1);
      border-right: 2px solid rgba($babyPowder, 1);
      transition: opacity 0.2s;
    }

    @media screen and (width <= 1024px) {
      width: 2.2vh;
      height: 2.2vh;
    }
  }

  input.checkbox {
    display: none;

    &:checked + div.customCheckbox::before {
      opacity: 1;
    }
  }

  @media screen and (width <= 1024px) {
    width: 90%;
  }
}
