$zomp: #67bb94;
$jungleGreen: #549a79;
$skyBlue: #74c0d2;
$ecru: #d5bb74;
$oldRose: #d37577;
$babyPowder: #fafffd;
$mintCream: #e8efed;
$payneGray: #545e75;
$charcoal: #3d4452;
$gunmetal: #2e3139;
$black: #000;

@mixin colorButton($color) {
  transition:
    border-color 0.2s,
    color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: $color;
      color: $color;
    }
  }
}

@mixin loadingCircle($width) {
  width: $width;
  height: $width;
  border: 1vh solid transparent;
  border-top-color: $babyPowder;
  border-left-color: $babyPowder;
  border-radius: 50%;
  animation: loading 1s linear infinite;

  @keyframes loading {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin cross($width, $thick) {
  position: relative;
  display: grid;
  place-items: center;

  &::after {
    content: '';
    position: absolute;
    width: $width;
    height: $thick;
    rotate: -45deg;
    background-color: $babyPowder;
    transition: 0.2s;
  }

  &::before {
    content: '';
    position: absolute;
    width: $width;
    height: $thick;
    rotate: 45deg;
    background-color: $babyPowder;
    transition: 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::after,
      &::before {
        background-color: $oldRose;
      }
    }
  }
}

@mixin formInput($fz) {
  outline: none;
  padding-inline: 1em;
  padding-block: 0.4em;
  box-sizing: border-box;
  font-size: $fz;
  color: $babyPowder;
  border-radius: 5px;
  border: 2px $babyPowder solid;
  background: $charcoal;

  &::placeholder {
    color: rgba($babyPowder, 0.7);
  }
}
