div.home {
  display: inline-flex;
  flex-direction: column;
  width: 70%;
  height: 80vh;
  margin-block: 10vh;
  padding-inline: 15%;

  button.addButton {
    font-size: 2.4em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    transition:
      color 0.2s,
      border-color 0.2s;
    color: $babyPowder;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    background: $charcoal;
    padding-block: 0.1em;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $zomp;
        border-color: $zomp;
      }
    }
  }

  @media screen and (width <= 1440px) {
    width: 80%;
    padding-inline: 10%;
  }

  @media screen and (width <= 850px) {
    width: 90%;
    height: 90vh;
    padding-inline: 5%;
    margin-block: 5vh;
  }
}

section.testContainer {
  display: inline-flex;
  overflow: hidden;
  overflow-y: scroll;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding-right: 1em;
  margin-block: 2em;
  gap: 1em;
}

section.loadingContainer {
  align-items: center;
  justify-content: center;
  height: 50vh;

  @media screen and (width < 850px) {
    height: 65vh;
  }
}

section.emptyContainer {
  overflow-y: hidden;
}

div.loading {
  @include loadingCircle(5vh);
}
