.container {
  position: absolute;
  z-index: 100;
  width: 60%;
  display: grid;
  flex-direction: column;
  top: 0;
  left: 0;
  gap: 0.5em;
  margin-top: 1em;
  margin-inline: 20%;
  overflow: hidden;

  @include miniature {
    width: 80%;
    margin-inline: 10%;
  }

  @include narrow {
    width: 90%;
    margin-inline: 5%;
  }
}
