label.inputTitle {
  position: absolute;
  opacity: 0;
  top: -0.6em;
  left: 1em;
  color: $babyPowder;
  font-size: 1em;
  background: $charcoal;
  padding-inline: 0.4em;
}

input.input {
  @include formInput(1.2em);

  &:focus {
    border-color: $zomp;

    &::placeholder {
      opacity: 0;
    }
  }

  &:focus + label.inputTitle {
    opacity: 1;
    color: $zomp;
  }

  &:not(:placeholder-shown) + label.inputTitle {
    opacity: 1;
  }
}

div.questionAddTitle {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input.questionInput {
    width: 100%;
  }
}

div.addAnswer {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1em;

  input.answerAddInput {
    width: 100%;
  }

  button.answerAddButton {
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
    padding-inline: 0.32em;
    border-radius: 5px;
    border: 2px $babyPowder solid;
    font-size: 1.9em;
    color: $babyPowder;
    @include colorButton($zomp);
  }
}

div.answersContainer {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: visible;
}

div.severalScroll {
  overflow: hidden;
  overflow-y: scroll;
}

div.numberAnswerContainer {
  position: relative;

  input.answerNumber {
    width: 100%;
    @include formInput(1.2em);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }

    &:focus + label.inputTitle {
      opacity: 1;
    }
  }
}
