.root {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  top: -0.5em;
  left: 1em;
  background-color: $charcoal;
  opacity: 0;
  padding-inline: 0.5em;
  @include fontType(1em, $babyPowder);
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 2px $babyPowder solid;
  border-radius: 5px;
  background: $charcoal;
  outline: none;
  padding-block: 0.4em;
  padding-inline: 1em;
  transition: border 0.1s;
  @include fontType(1.2em, $babyPowder);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }

  &::placeholder {
    @include fontType(null, rgba($babyPowder, 0.7));
  }

  &:focus {
    border-color: $zomp;

    &::placeholder {
      opacity: 0;
    }
  }

  &:focus + .label {
    opacity: 1;
    @include fontType(null, $zomp);
  }

  &:not(:placeholder-shown) + .label {
    opacity: 1;
  }
}
