@mixin navButton {
  width: fit-content;
  padding-block: 0.5em;
  cursor: pointer;
  padding-inline: 1em;
  font-size: 1.4em;
  white-space: nowrap;
  text-align: center;
  background-color: $charcoal;
  color: $babyPowder;
  border-radius: 5px;
  border: 2px solid $babyPowder;
  transition:
    color 0.2s,
    border-color 0.2s;
}

nav.nav {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;

  h1.navTitle {
    font-size: 2.5em;
    margin: 0 0 0.3em;

    @media screen and (width <= 600px) {
      display: none;
    }
  }

  input.filter {
    font-size: 1.4em;
    box-sizing: border-box;
    width: 100%;
    color: $babyPowder;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    outline: none;
    background: $charcoal;
    padding-block: 0.5em;
    padding-inline: 1em;

    &::placeholder {
      color: rgba($babyPowder, 0.5);
    }
  }

  @media screen and (width <= 850px) {
    gap: 0.5em;
  }
}

div.secondLine {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5em;

  button.dateSort {
    @include navButton;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $skyBlue;
        border-color: $skyBlue;
      }

      &:hover > div.arrow {
        background-image: url('~public/images/svg/selectArrowActive.svg');
      }
    }

    @media screen and (width <= 600px) {
      width: 100%;
    }
  }

  p.sortButtonTitle {
    margin: 0;
  }

  div.arrow {
    height: 100%;
    width: 1.4em;
    background-image: url('~public/images/svg/selectArrow.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    background-size: 120%;
    transition: background-image 0.2s;
  }

  div.reverseDate {
    rotate: 180deg;
  }

  button.logout {
    @include navButton;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $oldRose;
        border-color: $oldRose;
      }
    }

    @media screen and (width <= 600px) {
      width: 90%;
      padding-inline: 5%;
    }
  }

  @media screen and (width <= 600px) {
    align-items: center;
    flex-direction: column;
  }
}
