@mixin navButton {
  width: fit-content;
  padding-block: 0.5em;
  padding-inline: 1em;
  font-size: 1.4em;
  white-space: nowrap;
  text-align: center;
  background: $charcoal;
  color: $babyPowder;
  border-radius: 5px;
  border: 2px solid $babyPowder;
  transition:
    color 0.2s,
    border-color 0.2s;
}

nav.nav {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;

  h1.navTitle {
    font-size: 2.5em;
    margin: 0 0 0.3em;

    @media screen and (width <= 600px) {
      display: none;
    }
  }

  input.filter {
    font-size: 1.4em;
    box-sizing: border-box;
    width: 100%;
    color: $babyPowder;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    outline: none;
    background: $charcoal;
    padding-block: 0.5em;
    padding-inline: 1em;

    &::placeholder {
      color: rgba($babyPowder, 0.5);
    }
  }

  @media screen and (width <= 850px) {
    gap: 0.5em;
  }
}

div.secondLine {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5em;

  button.dateSort {
    cursor: pointer;
    @include navButton;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $skyBlue;
        border-color: $skyBlue;
      }
    }

    @media screen and (width <= 600px) {
      width: 100%;
    }
  }

  a.logout {
    @include navButton;

    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $oldRose;
        border-color: $oldRose;
      }
    }

    @media screen and (width <= 600px) {
      width: 90%;
      padding-inline: 5%;
    }
  }

  @media screen and (width <= 600px) {
    align-items: center;
    flex-direction: column;
  }
}
