@mixin navButton {
  width: fit-content;
  padding-block: 0.5em;
  cursor: pointer;
  padding-inline: 1em;
  white-space: nowrap;
  text-align: center;
  background-color: $charcoal;
  border-radius: 5px;
  border: 2px solid $babyPowder;
  transition:
    color 0.2s,
    border-color 0.2s;
  @include fontType(1.4em, $babyPowder);
}

nav.nav {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;

  h1.navTitle {
    margin: 0 0 0.3em;
    @include fontType(2.5em);

    @include narrow {
      display: none;
    }
  }

  input.filter {
    box-sizing: border-box;
    width: 100%;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    outline: none;
    background: $charcoal;
    padding-block: 0.5em;
    padding-inline: 1em;
    @include fontType(1.4em, $babyPowder);

    &::placeholder {
      @include fontType(null, rgba($babyPowder, 0.5));
    }
  }

  @include miniature {
    gap: 0.5em;
  }
}

div.secondLine {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5em;

  button.dateSort {
    @include navButton;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    @include hover {
      border-color: $skyBlue;
      @include fontType(null, $skyBlue);
    }

    @include hover {
      & > div.arrow {
        background-image: url('~public/images/svg/selectArrowActive.svg');
      }
    }

    @include narrow {
      width: 100%;
    }
  }

  p.sortButtonTitle {
    margin: 0;
  }

  div.arrow {
    height: 100%;
    width: 1.4em;
    background-image: url('~public/images/svg/selectArrow.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    background-size: 120%;
    transition: background-image 0.2s;
  }

  div.reverseDate {
    rotate: 180deg;
  }

  button.logout {
    @include navButton;

    @include hover {
      border-color: $oldRose;
      @include fontType(null, $oldRose);
    }

    @include narrow {
      width: 100%;
      padding-inline: 5%;
    }
  }

  @include narrow {
    align-items: center;
    flex-direction: column;
  }
}
