label.inputTitle {
  position: absolute;
  top: -0.6em;
  left: 1em;
  background: $charcoal;
  opacity: 0;
  padding-inline: 0.4em;

  @include fontType(1em, $babyPowder);
}

input.input {
  @include formInput(1.2em);

  &:focus {
    border-color: $zomp;

    &::placeholder {
      opacity: 0;
    }
  }

  &:focus + label.inputTitle {
    opacity: 1;

    @include fontType(null, $zomp);
  }

  &:not(:placeholder-shown) + label.inputTitle {
    opacity: 1;
  }
}

.questionAddTitle {
  position: relative;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input.questionInput {
    width: 100%;
  }
}

.addAnswer {
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  gap: 1em;

  input.answerAddInput {
    width: 100%;
  }

  button.answerAddButton {
    box-sizing: border-box;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    padding-inline: 0.32em;

    @include fontType(1.9em, $babyPowder);
    @include colorButton($zomp);
  }
}

.answersContainer {
  display: inline-flex;
  overflow: visible;
  flex-direction: column;
  gap: 0.5em;
}

.severalScroll {
  overflow: hidden;
  overflow-y: scroll;
}

.numberAnswerContainer {
  position: relative;

  input.answerNumber {
    width: 100%;

    @include formInput(1.2em);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }

    &:focus + label.inputTitle {
      opacity: 1;
    }
  }
}
