.root {
  display: flex;
  width: calc(100% - 10vh);
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 5vh;
}

.errorContainer {
  h1.title {
    margin-bottom: 1.5em;
    text-align: center;

    @include fontType(3em);

    @include mediumDesktop {
      margin-bottom: 10vh;

      @include fontType(5vh);
    }
  }

  a.goBack {
    border: 2px $babyPowder solid;
    border-radius: 10px;
    background: $charcoal;
    cursor: pointer;
    padding-block: 0.5em;
    padding-inline: 1em;
    text-decoration: none;

    @include fontType(2em, $babyPowder, bold);
    @include colorButton($skyBlue);

    @include mediumDesktop {
      @include fontType(4vh);
    }
  }
}
