.testFromButtons {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    gap: 0.5em;
  }

  .formButton {
    width: 45%;
    border: 2px $babyPowder solid;
    border-radius: 5px;
    background: $charcoal;
    cursor: pointer;
    outline: none;
    padding-block: 0.3em;
    @include fontType(1.4em, $babyPowder);

    @include tablet {
      width: 100%;
    }
  }

  .saveButton {
    @include colorButton($zomp);
  }

  .deleteButton {
    @include colorButton($oldRose);
  }

  .goBackButton {
    @include colorButton($skyBlue);
  }
}
