form.root {
  height: 90vh;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  padding-inline: 10vw;
  padding-block: 5vh;

  h1.formTitle {
    text-align: center;
    font-size: 2.3em;
    margin-top: 0;
    margin-bottom: 0.5em;

    @media screen and (width < 600px) {
      display: none;
    }
  }

  @media screen and (width < 1000px) {
    width: 90vw;
    padding-inline: 5vw;
  }

  @media screen and (width < 600px) {
    grid-template-rows: 1fr 5fr 1fr;
  }
}
