div.errorMessage {
  position: relative;
  width: 100%;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-block: 1.3vh;
  padding-inline: 3%;
  border-radius: 5px;
  border: 2px $babyPowder solid;
  background-color: rgba($oldRose, 0.9);

  p.error {
    margin: 0;
    white-space: pre-wrap;
    text-align: left;
    @include fontType(2.5vh, $babyPowder)
  }

  button.close {
    height: 2em;
    aspect-ratio: 1/1;
    border-radius: 5px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition:
      background-color 0.3s,
      scale 0.2s;
    @include cross(2.3vh, 3px);

    @include hover {
      background-color: $babyPowder;
    }

    &:active {
      scale: 0.9;
    }
  }
}

div.fadeAnimation {
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
